.nav {
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #0f0f0f;
}
.nav div {
    width: calc(100vw / 6);
    text-align: center;
}
.nav div a {
    padding: 0vh 3vw 0vh 3vw;
    font-size: 3em;
    color: wheat;
}
