{% extends '@Gamer/base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    {% block content %}
    <h1>Créer votre partie !</h1>



        {{ form_start(form) }}

        {{ form_widget(form) }}
        <input type="submit" value="Create" />

    {{ form_end(form) }}

    <ul style="margin: 10vh">
        <li>
            <a href="{{ path('partie_index') }}">Retour à la liste des parties</a>
        </li>
    </ul>
    {% endblock %}
{% endblock %}
