{% extends "@Gamer/base.html.twig" %}

{% block body %}

    <div class="container">
            <h1>Votre compte</h1>
            {% block fos_user_content %}
                {% include "FOSUserBundle:Profile:show_content.html.twig" %}
            {% endblock fos_user_content %}
            <p><a class="btn btn-primary btn-lg" href="{{ path('fos_user_profile_edit') }}" role="button">Modifier mon profil</a> <a class="btn btn-primary btn-lg" href="{{ path('partie_index') }}">Retour à l'accueil</a></p>

    </div>
{% endblock %}